.container {
  width: 30%;
  border: 1px solid black;
  padding: 10px;
}
.menu {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
  min-height: 50px;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.dice {
  border: 1px solid #42a5f5;
  padding: 10px;
  border-radius: 10px;
}

.dice:hover {
  cursor: pointer;
}

.selectContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.resultContainer {
  border: 1px solid black;
  padding: 10px;
}

.text {
  margin-bottom: 5px;
}

.side {
  font-weight: bold;
}

.select {
  padding: 5px;
  border-radius: 10px;
}

.log {
  display: flex;
  justify-content: center;
  border-radius: 10px;
  background-color: #e0e0e0;
  margin-bottom: 10px;
  padding: 5px;
}
